In [1]:
import pandasql
import pandas as pd
from datetime import datetime
import openai
import os
import numpy as np
import random

from pandasql import sqldf, load_meat, load_births
pysqldf = lambda q: sqldf(q)

openai.api_key  = "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" #Write your OpenAI key here.

In [2]:
def chatgpt_call(prompt, model="gpt-3.5-turbo"):
    response = openai.ChatCompletion.create(
        model=model,
        messages=[{"role": "user", "content": prompt}],
        temperature=0, 
    )
    return response.choices[0].message["content"]

# FEW-SHOT PROMPTING
Few-shot prompting can be also used to help the model to infer correct answers on a given topic. That is, if the model did not have enough training on a concrete subject, you could expand the knowledge base by using few-shot prompting.

Few-short prompting can be also a way to customize the model for our own purpose or style.

Let's run first a simple example!

In [3]:
# Quick example
response = chatgpt_call("Teach me about optimism. Keep it short.")
print(response)

Optimism is a mindset that focuses on positive outcomes and possibilities. It involves having a hopeful and positive attitude, even in challenging situations. Optimistic individuals tend to believe that things will work out for the best and approach life with a sense of resilience and gratitude. By adopting an optimistic outlook, you can cultivate a more positive and fulfilling life.

In [4]:
# Quick example
response = chatgpt_call("Teach me about optimism. Keep it short. Try to create a poetic definition.")
print(response)

Optimism, a radiant light that gleams,
A prism of hope, where dreams take flight.
It's a gentle breeze that whispers in your ear,
A melody of faith, dispelling all fear.

With eyes that see the silver lining's glow,
And a heart that dances, even in shadows.
Optimism, a compass in life's vast sea,
Guiding us forward, setting our spirits free.

It's the belief that every cloud will part,
And every ending holds a brand-new start.
A beacon of joy, a beacon of grace,
Optimism, the smile on life's face.

In the face of darkness, it finds a way,
To paint the world in hues of brighter days.
For in its essence, it holds the power,
To transform our lives, hour by hour.

So let optimism be your guiding star,
Embrace its warmth, no matter how far.
For in its embrace, you'll find strength and light,
To conquer the storms and make everything right.

In [5]:
prompt = """

Your task is to answer in a consistent style aligned with the following style. 

<user>: Teach me about resilience.

<system>: Resilience is like a tree that bends with the wind but never breaks. 
It is the ability to bounce back from adversity and keep moving forward.

<user>: Teach me about optimism.
"""

response = chatgpt_call(prompt)
print(response)

<system>: Optimism is like a ray of sunshine that brightens even the darkest days. It is the belief that good things will happen and that challenges can be overcome. Optimistic individuals have a positive outlook on life and see setbacks as temporary obstacles rather than permanent failures. They maintain hope and actively seek solutions, which helps them navigate through difficult times with a sense of confidence and resilience.

Now that we have an idea on how few-shot prompting works, let's run a real Data Science example!

## Using NLP for SQL generation
In this first case, let's check how the GPT model converts natural language to SQL queries.

In [6]:
user_input = """
Assuming I have both product and order tables, could you generate a single table that contained all the info 
of every product together with how many times has it been sold?
"""

prompt = f"""
Given the following natural language prompt, generate a hypothetical query that fulfills the required task in SQL.
{user_input}
"""
response = chatgpt_call(prompt)
print(response)

SELECT product.*, COUNT(order.product_id) AS times_sold
FROM product
LEFT JOIN order ON product.id = order.product_id
GROUP BY product.id

In [7]:
# We define the tables to be used during the example. 

# Create the PRODUCTS table
PRODUCTS = pd.DataFrame({
    'product_name': ['UltraView QLED TV', 'ViewTech Android TV', 'SlimView OLED TV', 'PixelMaster Pro DSLR', 
                     'ActionX Waterproof Camera', 'SonicBlast Wireless Headphones', 'FotoSnap DSLR Camera', 
                     'CineView 4K TV', 'SoundMax Home Theater', 'GigaPhone 12X'],
    'price': [2499.99, 799.99, 3499.99, 1999.99, 299.99, 149.99, 599.99, 599.99, 399.99, 1199.99],
    'discount': [15, 10, 5, 20, 15, 10, 0, 10, 5, 8],
    'product_type': ['TVs', 'TVs', 'TVs', 'Cameras and Camcorders', 'Cameras and Camcorders', 
                     'Audio and Headphones', 'Cameras and Camcorders', 'TVs', 'Audio and Headphones', 
                     'Smartphones and Accessories'],
    'rating': [4.8, 4.6, 4.9, 4.7, 4.4, 4.8, 4.3, 4.5, 4.2, 4.9],
    'product_id': ['K5521', 'K5522', 'K5523', 'K5524', 'K5525', 'K5526', 'K5527', 'K5528', 'K5529', 'K5530']
})

# Create the ORDERS table
ORDERS = pd.DataFrame({
    'order_number': [123456, 789012, 345678, 901234, 567890, 123789, 456123, 890567, 234901, 678345],
    'order_creation': pd.to_datetime(['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', 
                                      '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10']),
    'order_status': ['Shipped', 'Delivered', 'Processing', 'Shipped', 'Delivered', 'Processing', 'Shipped', 
                     'Delivered', 'Processing', 'Shipped'],
    'delivery_date': pd.to_datetime(['', '2023-07-06', '', '', '2023-07-15', 
                                      '', '', '2023-07-12', '', '']),
    'product_id': ['K5521', 'K5524', 'K5521', 'K5524', 'K5521', 'K5526', 'K5529', 'K5522', 'K5528', 'K5530']
})

In [8]:
ORDERS

   order_number order_creation order_status delivery_date product_id
0        123456     2023-07-01      Shipped           NaT      K5521
1        789012     2023-07-02    Delivered    2023-07-06      K5524
2        345678     2023-07-03   Processing           NaT      K5521
3        901234     2023-07-04      Shipped           NaT      K5524
4        567890     2023-07-05    Delivered    2023-07-15      K5521
5        123789     2023-07-06   Processing           NaT      K5526
6        456123     2023-07-07      Shipped           NaT      K5529
7        890567     2023-07-08    Delivered    2023-07-12      K5522
8        234901     2023-07-09   Processing           NaT      K5528
9        678345     2023-07-10      Shipped           NaT      K5530

In [9]:
sql_tables = """
CREATE TABLE PRODUCTS (
    product_name VARCHAR(100),
    price DECIMAL(10, 2),
    discount DECIMAL(5, 2),
    product_type VARCHAR(50),
    rating DECIMAL(3, 1),
    product_id VARCHAR(100)
);

INSERT INTO PRODUCTS (product_name, price, discount, product_type, rating, product_id)
VALUES
    ('UltraView QLED TV', 2499.99, 15, 'TVs', 4.8, 'K5521'),
    ('ViewTech Android TV', 799.99, 10, 'TVs', 4.6, 'K5522'),
    ('SlimView OLED TV', 3499.99, 5, 'TVs', 4.9, 'K5523'),
    ('PixelMaster Pro DSLR', 1999.99, 20, 'Cameras and Camcorders', 4.7, 'K5524'),
    ('ActionX Waterproof Camera', 299.99, 15, 'Cameras and Camcorders', 4.4, 'K5525'),
    ('SonicBlast Wireless Headphones', 149.99, 10, 'Audio and Headphones', 4.8, 'K5526'),
    ('FotoSnap DSLR Camera', 599.99, 0, 'Cameras and Camcorders', 4.3, 'K5527'),
    ('CineView 4K TV', 599.99, 10, 'TVs', 4.5, 'K5528'),
    ('SoundMax Home Theater', 399.99, 5, 'Audio and Headphones', 4.2, 'K5529'),
    ('GigaPhone 12X', 1199.99, 8, 'Smartphones and Accessories', 4.9, 'K5530');


CREATE TABLE ORDERS (
    order_number INT PRIMARY KEY,
    order_creation DATE,
    order_status VARCHAR(50),
    product_id VARCHAR(100)
);

INSERT INTO ORDERS (order_number, order_creation, order_status, delivery_date, product_id)
VALUES
    (123456, '2023-07-01', 'Shipped','', 'K5521'),
    (789012, '2023-07-02', 'Delivered','2023-07-06', 'K5524'),
    (345678, '2023-07-03', 'Processing','', 'K5521'),
    (901234, '2023-07-04', 'Shipped','', 'K5524'),
    (567890, '2023-07-05', 'Delivered','2023-07-15', 'K5521'),
    (123789, '2023-07-06', 'Processing','', 'K5526'),
    (456123, '2023-07-07', 'Shipped','', 'K5529'),
    (890567, '2023-07-08', 'Delivered','2023-07-12', 'K5522'),
    (234901, '2023-07-09', 'Processing','', 'K5528'),
    (678345, '2023-07-10', 'Shipped','', 'K5530');
"""

In [10]:
user_input = """
What model of TV has been sold the most in the store?
"""

prompt = f"""
Given the following SQL tables, your job is to provide the required SQL queries
to fulfill any user request.

Tables: <{sql_tables}>

User request: ```{user_input}```
"""
response = chatgpt_call(prompt)
print(response)

SELECT product_name
FROM PRODUCTS
WHERE product_type = 'TVs'
ORDER BY rating DESC
LIMIT 1;

In [11]:
fewshot_examples = """
-------------- FIRST EXAMPLE
User: What model of TV has been sold the most in the store when considering all issued orders. 
System: You first need to join both orders and products tables, filter only those orders that correspond to TVs 
and count the number of orders that have been issued: 

SELECT P.product_name AS model_of_tv, COUNT(*) AS total_sold
FROM products AS P
JOIN orders   AS O ON P.product_id = O.product_id
WHERE P.product_type = 'TVs'
GROUP BY P.product_name
ORDER BY total_sold DESC
LIMIT 1;

-------------- SECOND EXAMPLE
User: What's the sold product that has been already delivered the most?
System: You first need to join both orders and products tables, count the number of orders that have 
been already delivered and just keep the first one: 

SELECT P.product_name AS model_of_tv, COUNT(*) AS total_sold
FROM products AS P
JOIN orders   AS O ON P.product_id = O.product_id
WHERE P.order_status = 'Delivered'
GROUP BY P.product_name
ORDER BY total_sold DESC
LIMIT 1;
"""

In [12]:
user_input = """
What model of TV has been sold the most in the store?
"""

prompt = f"""
Given the following SQL tables, your job is to provide the required SQL tables
to fulfill any user request.

Tables: <{sql_tables}>. Follow those examples the generate the answer, paying attention to both
the way of structuring queries and its format:
<{fewshot_examples}>

User request: ```{user_input}```
"""
response = chatgpt_call(prompt)
print(response)

System response:

To fulfill your request, you need to join the PRODUCTS and ORDERS tables, filter only the orders that correspond to TVs, and count the number of orders for each TV model. Here is the SQL query:

```sql
SELECT P.product_name AS model_of_tv, COUNT(*) AS total_sold
FROM PRODUCTS AS P
JOIN ORDERS AS O ON P.product_id = O.product_id
WHERE P.product_type = 'TVs'
GROUP BY P.product_name
ORDER BY total_sold DESC
LIMIT 1;
```

This query will give you the model of the TV that has been sold the most in the store.

In [13]:
pysqldf("""
SELECT P.product_name AS model_of_tv, COUNT(*) AS total_sold
FROM PRODUCTS AS P
JOIN ORDERS AS O ON P.product_id = O.product_id
WHERE P.product_type = 'TVs'
GROUP BY P.product_name
ORDER BY total_sold DESC
LIMIT 1;
""")

         model_of_tv  total_sold
0  UltraView QLED TV           3

## Formatting SQL Queries
In this first case, let's check how the GPT model converts natural language to SQL queries.

As you can see in the output above, the query has no format at all. This is why we can use few-shot prompting to show the model the way we like to query (with our good practices or just our oddities), and train the model to give us our formatted desired SQL queries. To do so, we can simply write some examples with some sample prompts and the expected output we would like to get in return.

In [14]:
fewshot_examples = """
---- EXAMPLE 1
User: What model of TV has been sold the most in the store when considering all issued orders. 
System: You first need to join both orders and products tables, filter only those orders that correspond to TVs 
and count the number of orders that have been issued: 

SELECT 
       P.product_name AS model_of_tv, 
       COUNT(*)       AS total_sold
FROM products AS P
JOIN orders   AS O
  ON P.product_id = O.product_id
  
WHERE P.product_type = 'TVs'
GROUP BY P.product_name
ORDER BY total_sold DESC
LIMIT 1;

---- EXAMPLE 2
User: What is the latest order that has been issued?
System: You first need to join both orders and products tables and filter by the latest order_creation datetime: 

SELECT 
      P.product_name AS model_of_tv
FROM products AS P
JOIN orders AS O 
  ON P.product_id = O.product_id
  
WHERE O.order_creation = (SELECT MAX(order_creation) FROM orders)
GROUP BY p.product_name
LIMIT 1;
"""

Once the examples have been defined, we can input them to the model so that it can follow our preferences. As you can observe in the following code box, after showing GPT what we expect from it, it replicates the style of the given examples to produce any new output accordingly.

In [15]:
user_input = """
What is the most popular product model of the store?
"""

prompt = f"""
Given the following SQL tables, your job is to provide the required SQL tables
to fulfill any user request.

Tables: <{sql_tables}>. Follow those examples the generate the answer, paying attention to both
the way of structuring queries and its format:
<{fewshot_examples}>

User request: ```{user_input}```
"""
response = chatgpt_call(prompt)
print(response)

System: To find the most popular product model of the store, we need to count the number of orders for each product and select the one with the highest count.

```sql
SELECT
    P.product_name AS most_popular_product_model,
    COUNT(*) AS total_orders
FROM PRODUCTS AS P
JOIN ORDERS AS O
    ON P.product_id = O.product_id
GROUP BY P.product_name
ORDER BY total_orders DESC
LIMIT 1;
```

In [16]:
pysqldf("""
SELECT 
    P.product_name AS most_popular_product_model,
    COUNT(*) AS total_orders
FROM PRODUCTS AS P
JOIN ORDERS AS O
    ON P.product_id = O.product_id
GROUP BY P.product_name
ORDER BY total_orders DESC
LIMIT 1;
""")

  most_popular_product_model  total_orders
0          UltraView QLED TV             3

## Training the model to compute some specific variable.

Let's imagine now that we want to compute which product is the one that takes longer to deliver showing the same examples as before. We can ask directly to the model in natural language:

In [17]:
user_input = """
What product is the one that takes longer to deliver?
"""

prompt = f"""
Given the following SQL tables, your job is to provide the required SQL tables
to fulfill any user request.

Tables: <{sql_tables}>. Follow those examples the generate the answer, paying attention to both
the way of structuring queries and its format:
<{fewshot_examples}>

User request: ```{user_input}```
"""
response = chatgpt_call(prompt)
print(response)

System: You need to join both orders and products tables and calculate the delivery time for each product. Then, you can select the product with the maximum delivery time:

SELECT
      P.product_name AS product_name,
      MAX(DATEDIFF(O.delivery_date, O.order_creation)) AS delivery_time
FROM products AS P
JOIN orders AS O
  ON P.product_id = O.product_id

WHERE O.delivery_date <> ''
GROUP BY P.product_name
ORDER BY delivery_time DESC
LIMIT 1;

When analyzing the output, we quickly realize that there is a problem. The GPT model gives us a wrong answer.

Why? It directly computes the difference between two datetime SQL variables, which for most SQL versions does not work. For instance, if using SQLite, this query would report an isuue.

To assess this kind of errors, we can use few-shot promping to show the model of how we would compute time variables (in this case, the deliver time) so whenever the model receives any input regarding the same type of variable, it will replicate the way we normally compute that variables.

In this case, I like using the julianday() function that works for SQLite and converts any date into the number of days that have passed since the initial epoch (defined as noon Universal Time (UT) Monday, 1 January 4713 BC in the Julian calendar)

In [18]:
fewshot_examples += """
------ EXAMPLE 4
User: Compute the time that it takes to delivery every product?
System: You first need to join both orders and products tables, filter only those orders that have 
been delivered and compute the difference between both order_creation and delivery_date.: 

SELECT 
    P.product_name AS product_with_longest_delivery,
    julianday(O.delivery_date) - julianday(O.order_creation) AS TIME_DIFF
    
FROM 
    products AS P
JOIN 
    orders AS O ON P.product_id = O.product_id
WHERE 
    O.order_status = 'Delivered';
"""

In [19]:
user_input = """
What product is the one that takes longer to deliver?
"""

prompt = f"""
Given the following SQL tables, your job is to provide the required SQL tables
to fulfill any user request.

Tables: <{sql_tables}>. Follow those examples the generate the answer, paying attention to both
the way of structuring queries and its format:
<{fewshot_examples}>

User request: ```{user_input}```
"""
response = chatgpt_call(prompt)
print(response)

System: You first need to join both orders and products tables, filter only those orders that have been delivered and compute the difference between both order_creation and delivery_date. Then, you can select the product with the longest delivery time:

SELECT
    P.product_name AS product_with_longest_delivery,
    julianday(O.delivery_date) - julianday(O.order_creation) AS delivery_time

FROM
    products AS P
JOIN
    orders AS O ON P.product_id = O.product_id
WHERE
    O.order_status = 'Delivered'
ORDER BY delivery_time DESC
LIMIT 1;